# API ingestion and processing
requests
pandas
python-dotenv
boto3
trino

# Snowflake connector
snowflake-connector-python
snowflake-sqlalchemy

# SQLMesh
sqlmesh[trino]  # includes CLI and testing tools